  @font-face {
    font-family: "cmunss";
    src: url('https://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunss.otf');
    src: local('cmunss'), url('./cmunss.otf') format('otf')
  }
  @font-face {
    font-family: "Computer Modern";
    src: url('https://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsx.otf');
    font-weight: bold;
  }
  @font-face {
    font-family: "Computer Modern";
    src: url('https://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsi.otf');
    font-style: italic, oblique;
  }
  @font-face {
    font-family: "Computer Modern";
    src: url('https://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunbxo.otf');
    font-weight: bold;
    font-style: italic, oblique;
  }


--bs-body-font-family: "Computer Modern Serif";

.font {
    font-family: "Computer Modern Serif" !important;
}

/* @import url('https://cdn.jsdelivr.net/gh/aaaakshat/cm-web-fonts@latest/fonts.css'); */

/* * {
    font-family: "cmunss", sans-serif !important;
} */